<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <input type="hidden" th:field="*{id}" id="bookId" />
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>
    <div th:each="author : ${authors}">
        <a th:text="${author}">author</a>
    </div>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{authors}" id="author"/>
    <br/>
    <button type="button" onclick="deleteAuthor('${book.getId()}', '${author}')">Удалить автора</button>
<!--    <input type="text" th:field="*{authors}" id="authorForDel"/>-->
    <br/>
    <button type="button" onclick="addAuthor('${book.getId()}', '${author}')">Добавить автора</button>
<!--    <input type="text" th:field="*{authors}" id="authorForAdd"/>-->
    <div style="color:red" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}">Author Error</div>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function deleteAuthor(bookId, author)
    {
        author = $("#author").val();
        bookId = $("#bookId").val();
        if (confirm("Вы действительно хотите удалить автора " + author))
        {
            $.ajax({
                url: "/books/" + bookId + "/" + author,
                type: "DELETE",
                success: function (data)
                {
                    // Обработка успешного удаления
                    location.reload(); // Обновление страницы после удаления (может быть изменено на более подходящую обработку)
                },
                error: function (xhr, status, error)
                {
                    // Обработка ошибки удаления
                    console.error(error);
                }
            });
        }
    }
</script>
<script>
    function addAuthor(bookId, author)
    {
        author = $("#author").val();
        bookId = $("#bookId").val();
        if (confirm("Вы действительно хотите добавить автора " + author)) {
            $.ajax({
                url: "/books/" + bookId + "/" + author,
                type: "POST",
                data: {author: author},
                success: function (data) {
                    // Обработка успешного добавления
                    location.reload(); // Обновление страницы после добавления (может быть изменено на более подходящую обработку)
                },
                error: function (xhr, status, error) {
                    // Обработка ошибки добавления
                    console.error(error);
                }
            });
        }
    }
</script>
</body>
</html>